header{
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 0.5s ease;
    position: relative;
    box-shadow: 0px 2px 6px gray;
  }
  header .brand {
    color: rgb(69, 179, 235);
    font-size: 1.5rem;  
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
  header .brand:hover {
    color: rgb(69, 179, 235);
  }
  header .navigation {
    position: relative;
    display: flex;
  }
  
  .navigationItems a{
    position: relative;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  .navigationItems a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  .navigationItems a:hover:before{
    width: 100%;
    background: rgb(69, 179, 235);
  }
  .funProfile {
    display: flex;
  }
  .funItems a {
    background-color: #DCDCDC;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
  .funItems a:hover {
    background-color: #bebdbd;
  }
  .funItems:not(:last-child){
    margin-right: 10px;
  }