
.app-wraper {
  display: grid;

  grid-template-areas: 
  "header header"
  "sitebar mainContent";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
#header{
  grid-area: header;
}
#sitebar {
  grid-area: sitebar;
}
#profile{
  grid-area: mainContent;
}